################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoCaffe/FileContentIndex/517df16a-78dd-464d-b664-a40697839ab8.vsidx
/.vs/DemoCaffe/FileContentIndex
