USE [master]
GO
/****** Object:  Database [CafeGocNho]    Script Date: 16/05/2024 11:20:29 ******/
CREATE DATABASE [CafeGocNho]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeGocNho', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeGocNho_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CafeGocNho_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeGocNho].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeGocNho]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] NOT NULL,
	[TINHTRANG] [smallint] NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MAMH] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIACA] [int] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MABAN] [int] NULL,
	[MANV] [varchar](10) NULL,
	[THOIGIAN] [date] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIMATHANG]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIMATHANG](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAIMATHANG] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[MAMH] [varchar](10) NOT NULL,
	[TENMH] [nvarchar](200) NULL,
	[GIACA] [int] NULL,
	[DVT] [nvarchar](10) NULL,
	[MALOAI] [varchar](10) NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 16/05/2024 11:20:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HONV] [nvarchar](50) NULL,
	[TENNV] [nvarchar](10) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MATKHAU] [varchar](50) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[GIOITINH] [smallint] NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](12) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (1, 0)
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (2, 0)
INSERT [dbo].[BAN] ([MABAN], [TINHTRANG]) VALUES (3, 0)
GO
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'AVS', N'Ăn vặt & snack')
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'BEO', N'Béo')
INSERT [dbo].[LOAIMATHANG] ([MALOAI], [TENLOAI]) VALUES (N'DANG', N'Đắng')
GO
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [MALOAI]) VALUES (N'AVS001', N'Xúc xích Đức', 10000, N'Cái', N'AVS')
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [MALOAI]) VALUES (N'AVS002', N'Phô mai que', 10000, N'Đĩa', N'AVS')
INSERT [dbo].[MENU] ([MAMH], [TENMH], [GIACA], [DVT], [MALOAI]) VALUES (N'AVS003', N'Bánh tráng cuộn bơ', 20000, N'Cái', N'AVS')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV001', N'Nguyễn Đình', N'Hiệu', N'hieu@gmail.com', N'Đắk lắk', N'123', N'Quản Lý', 1, N'0901983555', N'056444111222')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV002', N'Phan Châu Hải', N'Lâm', N'haicay@gmail.com', N'Khánh Hoà', N'123', N'Nhân Viên', 1, N'0904564654', N'056444111724')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [EMAIL], [DIACHI], [MATKHAU], [CHUCVU], [GIOITINH], [SDT], [CCCD]) VALUES (N'NV003', N'Nguyễn Trần Việt', N'Hoàng', N'hoang@gmail.com', N'Khánh Hoà', N'123', N'Nhân Viên', 1, N'0415456465', N'056203444111')
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MENU] ([MAMH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_CHI_TIET__MENU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETH_PHIEU_XUA_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN_PHIEU_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHAN_VIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIMATHANG] ([MALOAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_REFERENCE_LOAIMATH]
GO
USE [master]
GO
